<div class="holder">
    <div class="title">Home Page</div>
    <div class="link-button">
        <button class="button" type="submit"><a href="/pages">Add Project</a></button>
        <button class="button" type="submit"><a href="/pages/list">View Projects</a></button>
        <button class="button" type="submit"><a href="/">Add Milestone</a></button>
    </div>
    <br><br><br><br>
    <div class="link">
        <a class="btn btn-secondary" href="/pages/login">Log Out</a>
    </div>
</div>