<h3>Home Page</h3>

<form>
    <div class="link">
        <a class="btn btn-secondary" href="/pages"><i class="fa fa-list-alt"></i> Add Projects</a> or
        <a class="btn btn-secondary" href="/pages/list"><i class="fa fa-list-alt"></i> View Projects</a> or
        <a class="btn btn-secondary" href="/"><i class="fa fa-list-alt"></i> Add Milestones</a>
    </div>
    <div class="link">
        <a class="btn btn-secondary" href="/pages/login">Log Out</a>
    </div>
</form>