<head>
	<title>Register with Authentication</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	</head>
	<body>
		<h1>Register</h1>
		<div class="main">
			<div class="agile">
				<div class="signin-form profile">
					<div class="login-form">
						<form id="login" action="pages/login" method="post" onsubmit="event.preventDefault(); validateMyForm();">
							<input type="text" name="email" placeholder="E-mail" required="">
							<input type="text" name="username" placeholder="Username" required="">
							<input type="password" name="password" placeholder="Password" id="password" required="" >
							<input type="password" name="passwordConf" placeholder="Confirm Password" id="password_conf" required="">
							<input type="submit" value="REGISTER">
						</form>
					</div>
					<br>
					<p>By clicking register, you agree to our terms</p>
					<br>
					<p>Already a member? Use our login page using the following link</p>
					<a href="/pages/login"> Login</a>
				</div>
			</div>
			<div class="clear"></div>	
		</div> {{!-- {{This is just some javascript to check if the passwords match when registering a new account before submitting the form}} --}}
		<script type="text/javascript">
			var passWordField = document.getElementById('password')
			var passWordConfirmField = document.getElementById('password_conf')
			var form = document.getElementById('login')
			function validateMyForm(){
				if(passWordField.value != passWordConfirmField.value){ 
					alert("Passwords do not match. Please try again.");
				} else {
					form.submit()
				}
			}
		</script>	
	</body>
