<head>
	<title>Login with Authentication</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	<h1>Login</h1>
	<div class="main">
		<div class="w3">
			<div class="signin-form profile">
				<div class="login-form">
					<form action="employee/login" method="post">
						<input type="text" name="logemail" placeholder="E-mail" required="">
						<input type="password" name="logpassword" placeholder="Password" required="">
						<input type="submit" value="LOGIN NOW">
						<br><br>
						<p>Not yet a member? Use our register page using the following link</p>
						<a href="/employee/register"> Register</a>
					</form>
				</div>
			</div>
		</div>	
	</div>
</body>
